/*
Base Styles & Universal Elements
*/

:root {
    /*COLORS*/
    --brown: #AA8440;
    --dark-blue: #4066AA;
    --light-blue: #93ABD6;
    --almost-black: #222328;
    --almost-white: #fefefe;
    
    /*FONTS*/
    --font-primary: 'Raleway', sans-serif;

    /*USE CASES*/
    --border-radius: 8px;}

html{
    height: 100%;}
    html * {
        box-sizing: border-box;}

body{
    color: var(--almost-black);
    font-family: var(--font-primary);
    font-size: 1.125rem;
    line-height: 1.35;}

.wrap{
    display: block;
    margin: 0 auto;
    width: min(700px, 90%);}

/*
Game Board
*/

#board{
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    width: min(460px, 90%);}
    #board .board-cell{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        background-color: var(--brown);
        cursor: pointer;
        color: var(--almost-white);
        font-size: 66px;}
        #board .board-cell::before{
            content: "";
            padding-bottom: 100%;}
