/*
Base Styles & Universal Elements
*/

:root {
    /*COLORS*/
    --dark-brown: #AA8440;
    --light-brown: #C19C5C;
    --dark-blue: #4066AA;
    --light-blue: #93ABD6;
    --almost-black: #222328;
    --almost-white: #fefefe;
    
    /*FONTS*/
    --font-primary: 'Raleway', sans-serif;

    /*USE CASES*/
    --border-radius: 8px;}

html{
    background-color: var(--light-blue);
    height: 100%;}
    html * {
        box-sizing: border-box;}

body{
    padding: 60px 0px;
    color: var(--almost-black);
    font-family: var(--font-primary);
    font-size: 1.125rem;
    line-height: 1.35;}

.wrap{
    display: block;
    margin: 0 auto;
    width: min(700px, 90%);}

h1{
    margin: 0px 0px 40px;
    color: var(--almost-white);
    font-size: 48px;
    font-weight: 700;
    text-align: center;
}

.button-contain{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;}

button{
    cursor: pointer;
    padding: 14px 26px;
    border: initial;
    border-radius: var(--border-radius);
    background-color: var(--dark-blue);
    color: var(--almost-white);
    font-size: 20px;
    font-weight: 700;
    transition: all .3s;}
    button:hover,
    button:active{
        color: var(--dark-blue);
        background-color: var(--almost-white);}

.hidden{
    display: none!important;
    visibility: hidden!important;}

/*
Pre Game Content
*/

#pre-game-content{
    display: flex;
    justify-content: center;}


/*
Form Content
*/

form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    width: min(400px, 90%);}
    form .field{
        width: 100%;
        margin: 0px 0px 20px;}
    form label{
        display: block;
        color: var(--almost-white);
        font-weight: 600;}
    form input{
        height: 42px;
        border-radius: var(--border-radius);
        border: 2px solid #eee;
        outline: initial;
        width: 100%;}
        form input:focus{
            border-color: var(--dark-blue);}


/*
Game Board Content
*/

#board{
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    width: min(400px, 90%);}
    #board .board-cell{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        background-color: var(--dark-brown);
        cursor: pointer;
        color: var(--almost-white);
        font-size: 66px;}
        #board .board-cell::before{
            content: "";
            padding-bottom: 100%;}
        #board .board-cell:hover{
            background-color: var(--light-brown);}


.post-board-content{
    margin: 40px 0px 0px;
    text-align: center;}
    #messages{
        margin: 0px 0px 40px;
        color: var(--almost-white);
        font-size: 22px;
        font-weight: 600;}
